@font-face {
    font-family: 'NunitoSans';
    src: url('./fonts/NunitoSans-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('./fonts/NunitoSans-Italic-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111111;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    font-family: 'NunitoSans', sans-serif;
}

.content {
    margin: 8px 16px 10px;
}

b {
    font-weight: 600;
}

custom-emoji-wrapper {
    position: relative;
}

img {
    top: 0;
    position: absolute;
    height: 26px;
    width: 26px;
}

u {
    display: block;
    margin-top: 21px;
    position: relative;
}